body{
    background-image:url("../images/maths.jpg");
    background-color:#F8F8F8;
    background-size:100%;
}
.textinput{
    width: 40px;
    text-align: right;
}
fieldset{
    width:500px;
    border-radius:15px;
   background-color:#DDDDDD;
   opacity:0.8;
}
.center{
    width: 50%;
    margin: 0 auto; 
    text-align: center;
    margin-top:100px;
    font-family: 'Lobster', cursive;
    font-size:20px;
    
}
legend{
    text-align:left;
}
form{
    width:500px;
}
div{
    margin:10px 20px 10px 20px;
}
#button{
    margin-top:20px;
    margin-bottom:20px;
    padding:10px;
    background-color:#EEEEEE;
    border-radius:10px;
}
#button:hover{
    box-shadow: 3px 5px 0px rgba(0,0,0,0.5);
    cursor:pointer;
}