.textinput{
    width: 50px;
    text-align: right;
}

fieldset{
    width:500px;
}

div{
    margin:10px 20px 10px 20px;
    
}
#button{
    margin:10px 20px 10px 20px;
    padding:10px;
    border-radius:5px;
    
}